.react-tel-input .flag-dropdown:hover,
.react-tel-input .selected-flag:hover,
.react-tel-input .country-list .country:hover {
    background-color: #484a50;
    color: white;
}
/* From Uiverse.io by bhaveshxrawat */ 
.card {

    width: 600px;
    position: relative;
    
    display: flex;
    place-content: center;
    place-items: center;

    border-radius: 20px;
 
  }
  
  .card h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  .card::after {
    content: '';
    border-radius: 15px;
  }  

  .black-button {
    --black-700: transparent;
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    --offset: 2px;
  
    position: relative;
    cursor:pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    transform-origin: center;
  
    padding: 1rem 2.3rem;
    background-color: transparent;
  
    border: none;
    border-radius: var(--border_radius);
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
  
    transition: transform var(--transtion);
  }
  
  .black-button::before {
    content: "";
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 100%;
    height: 100%;
    background-color: var(--black-700);
  
    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
      0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
      0 0 0 calc(var(--active, 0) * 0.375rem) hsl(260 97% 50% / 0.75);
  
    transition: all var(--transtion);
    z-index: 0;
  }
  
  .black-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    cursor:pointer;
   
    transform: translate(-50%, -50%);
  
    width: 100%;
    height: 100%;
    background-color: hsla(260 97% 61% / 0.75);
    background-image: radial-gradient(
        at 51% 89%,
        hsla(266, 45%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
      radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
    background-position: top;
  
    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
  }
  
  .black-button:is(:hover, :focus-visible) {
    --active: 1;
  }
  .black-button:active {
    transform: scale(1);
  }
  
  .black-button .dots_border {
    --size_border: calc(100% + 2px);
  
    overflow: hidden;
    cursor: pointer;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;
  
    border-radius: var(--border_radius);
    z-index: -10;
  }
  
  .black-button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);
  
    width: 100%;
    height: 2rem;
    background-color: rgb(145, 150, 152);
  
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .black-button .sparkle {
    position: relative;
    z-index: 10;
  
    width: 1.75rem;
  }
  
  .black-button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
  
    transform-origin: center;
  
    color: hsl(0, 0%, 100%);
  }
  
  .black-button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
    cursor: pointer;
  }
  
  .black-button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
  }
  .black-button .sparkle .path:nth-child(2) {
    --scale_path_2: 1.2;
  }
  .black-button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
  }
  
  @keyframes path {
    0%,
    34%,
    71%,
    100% {
      transform: scale(1);
    }
    17% {
      transform: scale(var(--scale_path_1, 1));
    }
    49% {
      transform: scale(var(--scale_path_2, 1));
    }
    83% {
      transform: scale(var(--scale_path_3, 1));
    }
  }
  
  .black-button .text_black-button {
    position: relative;
    z-index: 10;
    margin-left: 12px;
  
    background-image: linear-gradient(
      90deg,
      hsla(0 0% 100% / 1) 0%,
      hsla(0 0% 100% / var(--active, 0)) 120%
    );
    background-clip: text;
    margin-left: -24px;
    font-size: 1.1rem;
  }
.design-container {
    height: 320px;
    margin-top: -220px;
    margin-right: 430px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .design-wrapper {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0.8rem;
    height: 100%;
    width: 100%;
  }
  
  .call {
    width: 380px;
    border-radius: 1.2rem;
    background: rgba(19, 19, 19, 0.836);
    overflow: hidden;
    margin-top: -480px;
    margin-right: 400px;
    margin-left: 450px;
    position:absolute;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 1rem;
    color: #fff;
    font-size: large;
    font-weight: bold;
    -webkit-box-shadow: 0px 0.2rem 0.5rem rgba(20, 20, 20, 0.322);
    box-shadow: 0px 0.2rem 0.5rem rgba(20, 20, 20, 0.322);
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-animation: scale-out 10s infinite;
    animation: scale-out 5s infinite;
   
  }
  
  .call::before {
    content: '';
    background-color: #111111e3;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    inset: 0;
    height: 550px;
    position: absolute;
    z-index: -1;
    text-align: center;
  }
  
  .phone-number::after {
    background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgb(206, 206, 206)), color-stop(40%, rgb(255, 255, 255)), color-stop(60%, rgb(255, 255, 255)), color-stop(80%, rgb(206, 206, 206)));
    background: linear-gradient(to right, rgb(206, 206, 206) 20%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 60%, rgb(206, 206, 206) 80%);
    background-size: 200% auto;
    color: #000;
    
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 1.5s linear infinite;
    animation: shine 1.5s linear infinite;
  }
  
  .phone-desc {
    font-weight: normal;
    font-size: 14px;
    color: #727272;
    
  }
  
  .button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
  
  .rgbutton {
    height: 40px;
    width: 40px;
    max-width: 40px;
    max-height: 40px;
    position: relative;
    border-radius: 100%;
  }
  
  .rgbutton:hover {
    cursor: pointer;
  }
  
  .rgbutton svg {
    height: 20px;
    width: 20px;
    margin: auto;
    transform: translateX(10px)translateY(10px);
    fill: #fff;
    margin-right: 20px;
  }
  
  .deny {
    background-color: #ec5445;
  }
  
  .deny svg {
    -webkit-transform: translateX(7px)translateY(10px) rotate(136deg) translate(-10%, -15%);
    -ms-transform: translateX(7px)translateY(10px) rotate(136deg) translate(-10%, -15%);
    transform: translateX(7px)translateY(10px) rotate(136deg) translate(-10%, -15%);
    margin-right: 20px;
  }
  
  .allow {
    background-color: #68cd66;
  }
  
  .form-card {
    width: 380px;
    height: 400px;
    border-radius: 1.2rem;
    background-color: #fff;
    padding: 1.3rem;
    color: #212121;
    margin-top: 89px;
    margin-left: 365px;
    text-align: center;
    position: relative;
  }
  
  .form-card-title {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
    margin-top: 0.2rem;
  }
  
  .form-card-prompt {
    margin-bottom: 2rem;
    font-size: 14px;
  }
  /* hard reset */
  .form-card-input {
    all: unset;
  }
  
  .form-card-input-wrapper {
    position: relative;
    width: 100%;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
  }
  
  .form-card-input {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2rem;
    text-align: start;
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
    position: absolute;
    z-index: 3;
    background-color: transparent;
  }
  
  .form-card-input-bg {
    content: '';
    width: 240px;
    height: 60px;
    margin: auto;
    inset: 0;
    bottom: 10px;
    position: absolute;
    z-index: 1;
    border-radius: 12px;
    background-color: rgba(206, 206, 206, 0.664);
  }
  
  .call-again {
    color: #5e5e5e;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .call-again:hover {
    cursor: pointer;
  }
  
  .underlined {
    text-decoration: underline;
  }
  
  .form-card-submit {
    position: absolute;
    width: 180px;
    margin: auto;
    color: white;
    border: none;
    background-color: #212121;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    padding: 0.8rem 3.5rem;
    bottom: 4rem;
    left: 0;
    right: 0;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
  }
  
  .form-card-submit:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .form-card-submit:active {
    opacity: 0.9;
    -webkit-transform: scale(95%);
    -ms-transform: scale(95%);
    transform: scale(95%);
  }
  
  #uuid-d8a0d861-3741-4013 {
    width: auto;
    height: 500px;
  }
  
  @-webkit-keyframes scale-out {
    0%, 15%, 100% {
      color: #fff;
      -webkit-transform: scale(12%);
      transform: scale(12%);
    }
  
    16%, 98% {
      color: rgba(255, 255, 255, 0.295);
      -webkit-transform: scale(100%);
      transform: scale(100%);
    }
  }
  
  @keyframes scale-out {
    0%, 15%, 100% {
      color: #fff;
      -webkit-transform: scale(72%);
      transform: scale(72%);
    }
  
    16%, 98% {
      color: rgba(255, 255, 255, 0.295);
      -webkit-transform: scale(100%);
      transform: scale(100%);
    }
  }
  
  @-webkit-keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }